In [5]:
import random
import numpy as np
import pandas as pd
import sys
from tqdm import tqdm

In [6]:
def generate_interaction_mins(n,target):
    x = np.random.randint(0, target, size=(n,))
    while sum(x) != target:
        x = np.random.randint(0, target, size=(n,))
    return x

In [54]:
def skype_interactions(n):
    df = pd.DataFrame(columns = ['organizer' , 'call_duration_mins', 'participants' ,'indiv_interaction_mins',
                                 'interaction','meeting_modes','meeting_types','host_locations','recorded_session'])
    
    first_name = ['Vaishali','Aruna','Prasanna','Avinash','Harini','Divya','Surya']
    second_name=['Ravindranath','Prasad','Raj','Prakash']
    
    levels = ['High','Low','Medium']
    meeting_mode = ['in_office','online','hybrid']
    meeting_type=['project_discussion','employee_engagement','trainings','others']
    host_location=['India','France','Romania','Remote']
    
    for i in range(n):
        organiser=random.choice(first_name)+' '+random.choice(second_name)
        call_duration_mins=random.randint(5,180)
        group=[",".join(random.choice(first_name)+' '+random.choice(second_name) for _ in range(random.randint(2,10)))]
        participants=(set([organiser]) ^ set(group))
        indiv_interaction_mins=generate_interaction_mins(len(participants)+1,call_duration_mins)
        interaction_level=random.choice(levels)
        meeting_mode_data=random.choice(meeting_mode)
        meeting_type_data=random.choice(meeting_type)
        host_location_data=random.choice(host_location)
        recording_data=random.choice(['yes','no'])
        
        df.loc[len(df)] =[organiser,call_duration_mins,participants,indiv_interaction_mins,
                          interaction_level,meeting_mode_data,meeting_type_data,host_location_data,recording_data]
        sys.stdout.write("\r{0}".format((float(i)/n)*100))
        sys.stdout.flush()
    return df.to_csv('skype_interactions_more.csv')
    #return df

In [55]:
skype_interactions(10000)

99.9900000000000143

In [56]:
df=pd.read_csv('skype_interactions_more.csv')

In [57]:
df

,Unnamed: 0,organizer,call_duration_mins,participants,indiv_interaction_mins,interaction,meeting_modes,meeting_types,host_locations,recorded_session
0,0,Surya Prasad,95,"{'Surya Prasad', 'Avinash Prakash,Surya Ravind...",[30 48 17],Low,in_office,trainings,Romania,yes
1,1,Divya Prakash,43,"{'Divya Prakash', 'Harini Raj,Avinash Raj,Arun...",[16 11 16],Medium,online,employee_engagement,France,no
2,2,Harini Prasad,50,"{'Harini Ravindranath,Harini Raj,Vaishali Raj,...",[14 31 5],Medium,online,trainings,India,no
3,3,Avinash Prakash,99,"{'Prasanna Prasad,Vaishali Prasad,Surya Prakas...",[38 13 48],High,hybrid,employee_engagement,Romania,yes
4,4,Avinash Prakash,111,"{'Vaishali Prakash,Divya Prasad', 'Avinash Pra...",[24 54 33],Low,hybrid,project_discussion,India,yes
...,...,...,...,...,...,...,...,...,...,...
9995,9995,Divya Prasad,35,"{'Aruna Prakash,Divya Prasad,Aruna Prakash', '...",[ 9 21 5],High,hybrid,project_discussion,India,yes
9996,9996,Aruna Ravindranath,158,"{'Aruna Ravindranath', 'Prasanna Raj,Harini Pr...",[114 42 2],Medium,hybrid,employee_engagement,India,no
9997,9997,Avinash Prasad,163,"{'Avinash Prasad,Avinash Raj,Surya Prakash,Sur...",[23 46 94],Medium,hybrid,trainings,France,yes
9998,9998,Divya Prasad,124,"{'Harini Prasad,Vaishali Prakash,Vaishali Prak...",[51 20 53],Low,in_office,trainings,France,no
9999,9999,Divya Prakash,132,"{'Divya Prakash', 'Vaishali Prasad,Aruna Raj,P...",[32 39 61],Medium,online,others,India,yes